# TEMPORARY harvest aid: every vendor/device domain permissive so the
# device boots globally enforcing and its denials can be read live.
permissive RIDL;
permissive adsprpcd;
permissive atfwd;
permissive audiod;
permissive bg_daemon;
permissive bluetooth_loader;
permissive cdsprpcd;
permissive charger_monitor;
permissive chre;
permissive cnd;
permissive diag;
permissive dtsconfigurator;
permissive dtseagleservice;
permissive energyawareness;
permissive esepmdaemon;
permissive fidodaemon;
permissive fm_qsoc_patches;
permissive fps_hal;
permissive fstman;
permissive gamed;
permissive hal_alarm_qti_default;
permissive hal_bluetooth_qti;
permissive hal_display_color_default;
permissive hal_dpmQmiMgr;
permissive hal_drm_widevine;
permissive hal_esepowermanager_qti;
permissive hal_factory_qti_default;
permissive hal_gatekeeper_qti;
permissive hal_gnss_qti;
permissive hal_imsrtp;
permissive hal_iop_default;
permissive hal_keymaster_qti;
permissive hal_lineage_touch_kiwi;
permissive hal_perf_default;
permissive hal_qdutils_disp_qti;
permissive hal_qteeconnector_qti;
permissive hal_rcsservice;
permissive hal_sensorscalibrate_qti_default;
permissive hal_tui_comm_qti;
permissive hbtp;
permissive hostapd;
permissive hvdcp;
permissive ims;
permissive imshelper_app;
permissive ipacm;
permissive irsc_util;
permissive libqmi_oem_main;
permissive location;
permissive location_app;
permissive logdumpd;
permissive mcStarter;
permissive mdm_helper;
permissive mdtpdaemon;
permissive mdtpservice_app;
permissive mlid;
permissive mmi;
permissive mpdecision;
permissive msm_irqbalanced;
permissive netmgrd;
permissive nqnfcinfo;
permissive oeminfo;
permissive pd_mapper;
permissive per_mgr;
permissive perfd;
permissive power_off_alarm;
permissive poweroffalarm_app;
permissive poweroffhandler;
permissive qcomsysd;
permissive qdma_app;
permissive qdmastatsd;
permissive qlogd;
permissive qmuxd;
permissive qsee_svc_app;
permissive qseeproxy;
permissive qti;
permissive qti_init_shell;
permissive qti_logkit;
permissive qti_logkit_app;
permissive rfs_access;
permissive rmt_storage;
permissive sec_nvm;
permissive secotad;
permissive seemp_health_daemon;
permissive sensors;
permissive signinfolistener;
permissive spdaemon;
permissive ssgqmigd;
permissive ssgtzd;
permissive ssr_diag;
permissive ssr_setup;
permissive subsystem_ramdump;
permissive tbaseLoader;
permissive time_daemon;
permissive timeservice_app;
permissive tlocd;
permissive touchfusion;
permissive usb_uicc_daemon;
permissive usf;
permissive vm_bms;
permissive vppservice;
permissive wcnss_filter;
permissive wcnss_service;
permissive wifi_ftmd;
permissive wifidisplayhalservice_qti;
permissive wigighalsvc;
permissive wigignpt;
