<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings.kiwi"
    android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:label="@string/kiwi_parts_title"
        android:persistent="true"
        android:theme="@style/Theme.SubSettingsBase">
        <activity
            android:name=".BypassChargingActivity"
            android:label="@string/bypass_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery"/>
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/bypass_summary"/>
        </activity>
        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <service android:name=".BypassService"/>
    </application>
</manifest>
